body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #DDE6ED;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* ป้องกันไม่ให้มีการเลื่อนแนวนอน */
}

@media (max-width: 768px) {
    body, html {
        margin: 0;
        padding: 0;
        overflow-x: hidden; 
    }

    /* ปรับแต่ง elements ใดๆ ที่อาจทำให้เกิดช่องว่าง */
    .container, .row, .section {
        margin: 0;
        padding: 0;
        width: 100%;
    }

}


/*ส่วนของ welcome*/
.background {
    background-image: url('../image/IMG_4247.JPG'); /* ใส่ URL ของรูปภาพที่คุณต้องการใช้ */
    height: 100vh; /* ความสูงของรูปภาพพื้นหลัง */
    background-position: center; /* ตำแหน่งของรูปภาพ */
    background-repeat: no-repeat; /* ไม่ทำซ้ำรูปภาพ */
    background-size: cover; /* ปรับขนาดรูปภาพให้เต็มหน้าจอ */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.greeting-text {
    color: white; /* สีของข้อความ */
    font-size: 2em; /* ขนาดของข้อความ */
    padding: 5px; /* ระยะขอบรอบข้อความ */
    margin-top: 100px;
}
/* Media Queries สำหรับหน้าจอขนาดเล็ก (โทรศัพท์) */
@media (max-width: 768px) {
    .greeting-text {
        margin-top: 150px; /* เพิ่มระยะห่างด้านบนสำหรับจอโทรศัพท์ */
        font-size: 1.5em;
    }

    header {
        position: static; /* หรือคุณอาจปรับให้เหมาะสมกับการออกแบบของคุณ */
    }

    nav, .hamburger {
        /* กำหนดสไตล์เฉพาะสำหรับแฮมเบอร์เกอร์เมนูและนำทางในหน้าจอขนาดเล็ก */
        display: block; /* แสดงแฮมเบอร์เกอร์และซ่อน nav หรือใช้ JavaScript สลับการแสดงผล */
    }

    /* ตั้งค่าเพิ่มเติมสำหรับการปรับแต่ง */
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .greeting-text {
    animation: fadeIn 1.5s ease-out forwards; /* ใช้ forwards เพื่อรักษาสถานะเมื่อ animation จบ */
  }
  


/*ข้อมูลส่วนตัว*/
#about {
    display: flex;
    flex-direction: column; /* ทำให้เนื้อหาภายใน #about จัดวางแนวตั้ง */
    align-items: center; /* จัดกลางข้อมูลในแนวตั้ง */
    background-color: #ffffff;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 800px;
    width: 100%; /* ให้ container มีความกว้างเต็มที่ภายใน #about */
}

.profile-image {
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1;
}
/* Media Queries สำหรับหน้าจอขนาดเล็ก (โทรศัพท์มือถือ) */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* จัดวางแนวตั้งบนหน้าจอขนาดเล็ก */
        align-items: center; /* จัดกลางเนื้อหาใน container */
    }

    .profile-image {
        margin-right: 0; /* ไม่ต้องการขอบขวาบนหน้าจอขนาดเล็ก */
        margin-bottom: 20px; /* เพิ่มระยะห่างด้านล่างรูปภาพ */
    }

    /* ปรับแต่งเพิ่มเติมหากต้องการ */
}
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.animate-text {
    opacity: 0; /* เริ่มต้นให้ข้อความโปร่งใส */
    transform: translateX(100%); 
}
.skills-container {
    background-color: white; /* เปลี่ยนพื้นหลังเป็นสีขาว */
    padding: 20px; /* เพิ่ม padding เล็กน้อยรอบๆ สำหรับ aesthetics */
    margin: 20px auto; /* เพิ่ม margin ด้านบนและล่าง */
    max-width: 1200px; /* จำกัดความกว้างของ container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* เพิ่มเงาเล็กน้อยสำหรับ depth */
    border-radius: 8px; /* เพิ่มขอบมน */
}

.skills-grid {
    display: flex;
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap; /* Allows items to wrap */
    padding: 20px; /* Padding around the entire grid */
    gap: 20px; /* Adjust this value to control the space between items */
}

.skill-item {
    flex-basis: calc(20% - 40px); /* Adjust this value to control the width of each item */
    text-align: center;
    margin: 10px; /* Adjust this value to control the space between rows */
}

.skill-item {
    /* Initial animation setup */
    animation: fadeIn 1s ease-out forwards;
    animation-play-state: paused; /* Animation is paused by default */
}
.skill-item img {
    width: 90px; /* หรือขนาดที่คุณต้องการ */
    height: 90px; /* หรือขนาดที่คุณต้องการ */
    object-fit: contain; /* หรือ 'cover' ถ้าคุณต้องการให้รูปภาพครอบคลุมพื้นที่ทั้งหมด */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .skills-grid {
        justify-content: center; /* จัดให้ items อยู่กลาง */
    }

    .skill-item {
        width: 100%; /* ให้แต่ละ item ครอบคลุมทั้งความกว้างของ container */
        margin: 10px 0; /* ปรับระยะห่างระหว่าง items ในหน้าจอขนาดเล็ก */
    }

    .skill-item img {
        width: 60px; /* ลดขนาดภาพสำหรับหน้าจอเล็ก */
    }
}
.other-skills-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.other-skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.other-skill-item {
    flex-basis: calc(25% - 40px);
    text-align: center;
    margin-bottom: 20px;
}

.other-skill-item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.other-skill-item h3 {
    font-size: 14px;
    padding: 0 10px;
}
.other-skill-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.other-skill-item.is-visible {
    opacity: 1;
    transform: none;
}


@media (max-width: 768px) {
    .other-skill-item {
        flex-basis: 100%;
    }

    .other-skill-item img {
        width: 80px;
    }

    .other-skill-item h3 {
        font-size: 12px;
    }
}







/*ส่วนของผลงาน*/
.portfolio-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* จัดกลางเนื้อหาในแนวนอน */
    align-items: flex-start; /* จัดให้เนื้อหาอยู่ที่บนสุดของ container */
    text-align: center;
    width: 100%;

}


.portfolio {
    width: 400px; /* หรือปรับเป็น % เพื่อความยืดหยุ่นมากขึ้น */
    height: 420px;
    perspective: 1000px;
    margin: 10px; /* ปรับตามความต้องการ */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 8px; 
}


.portfolio-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    border-radius: 8px; 
    
}

.portfolio:hover .portfolio-inner {
    transform: scale(1.05); /* ขยายเล็กน้อยเมื่อเมาส์ชี้ */
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)
}

.portfolio.is-flipped .portfolio-inner {
    transform: rotateY(180deg); /* พลิกเมื่อคลิก */
}

.portfolio-front, .portfolio-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px; 
}

.portfolio-front {
    background: #fff; /* หรือสีตามต้องการ */
    z-index: 2;
    transform: rotateY(0deg); /* หน้าด้านหน้า */
    border-radius: 8px; 
    
}

.portfolio-back {
    background: #ffffff; /* หรือสีตามต้องการ */
    transform: rotateY(180deg); /* หน้าด้านหลัง */
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px; 
}

.portfolio img {
    width: 90%;
    height: auto;
    margin: 0 auto 20px; /* ปรับ margin ให้รูปภาพมีพื้นที่ว่างด้านล่าง */
    margin-top: 10px;
    display: block; /* ให้รูปภาพแสดงเป็น block */
    border-radius: 8px; 
}


.portfolio h2, .portfolio p {
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
}

/* Button Styling */
.portfolio-front button {
    padding: 10px 20px;
    border: none;
    background-color: #0056b3; /* Button background color */
    color: white; /* Button text color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor changes to pointer on hover */
    font-size: 16px; /* Adjust font size as needed */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

.portfolio-front button:hover {
    background-color: #004494; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
}


/*โปรเจค*/
.project-section {
    display: flex;
    flex-direction: row; /* แก้ไขเป็น row หากต้องการแสดงแนวนอน */
    flex-wrap: wrap; /* อนุญาตให้เนื้อหาขึ้นบรรทัดใหม่เมื่อต้องการ */
    justify-content: center; /* หรือ space-around เพื่อกระจายโปรเจกต์ */
    align-items: flex-start; /* หรือ adjust ตามต้องการ */
    width: 100%;
    padding-bottom: 20px;
}



.project {
    width: 350px;
    height: 400px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่มเงาเบื้องต้นให้กับโปรเจกต์ */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.05);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* เพิ่มเงาเมื่อเมาส์ชี้ให้เด่นชัดขึ้น */
}


.project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
}
.project-section > h2 {
    width: 100%;
    text-align: center;
}

/* .project-inner, .project-front, .project-back {
    width: 100%;
    height: 100%;
   
} */

.project-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.project-front {
    background: #fff; /* หรือสีตามต้องการ */
    z-index: 2;
    transform: rotateY(0deg); /* หน้าด้านหน้า */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* เพิ่มเงาเมื่อเมาส์ชี้ */
}
.project:hover {
    transform: scale(1.05); /* ขยายขนาดเล็กน้อยเมื่อเมาส์ชี้ */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* เพิ่มเงาเมื่อเมาส์ชี้ */
}
.project.is-flipped .project-inner {
    transform: rotateY(180deg);
}

.project-front, .project-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.project-front {
    z-index: 2;
    transform: rotateY(0deg);
}

.project-back {
    transform: rotateY(180deg);
    padding: 15px;
    box-sizing: border-box;
}

.project img {
    width: 90%;
    height: auto;
    margin: 10px auto; /* จัดรูปภาพให้อยู่ตรงกลางและมีพื้นที่ว่างด้านบน */
    display: block;
}

.project h2, .project p {
    text-align: center;
}

.project button {
    padding: 10px 20px;
    border: none;
    background-color: #0056b3; /* Button background color */
    color: white; /* Button text color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor changes to pointer on hover */
    font-size: 16px; /* Adjust font size as needed */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

.project button:hover {
    background-color: #004494; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
}


/* กิจกรรม */


.activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.activity-item {
    display: flex;
    align-items: center;
    width: 85%;
    height: auto; /* Changed to auto for flexible height */
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.activity-image {
    width: 250px;
    margin-right: 20px;
    border-radius: 10px;
}

.activity-content {
    flex: 1;
}

.activity-content h2, .activity-content p {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Add this media query for mobile devices */
@media (max-width: 768px) {
    .activity-item {
        flex-direction: column;
        align-items: center;
    }

    .activity-image {
        width: 80%; /* Adjust the width as needed for mobile */
        margin-right: 0; /* Remove right margin */
        margin-bottom: 20px; /* Add some space below the image */
    }

    .activity-content {
        text-align: center; /* Center the text for mobile */
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.activity-item {
    opacity: 0; /* เริ่มต้นให้โปร่งใส */
    transform: translateX(50%); /* เริ่มต้นนอกหน้าจอ */
    /* ไม่ใส่ animation ไว้ที่นี่ */
}



/* ติดต่อ */
#contact {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.contact-info p, .contact-info a {
    color: #333;
    font-size: 16px;
    margin: 10px 0;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
    display: inline-block;
}

.social-media a:hover {
    text-decoration: underline;
}

/* cer */
#certificates-section {
    text-align: center;
    padding: 50px 0;
    background-color: #ffffff; /* Set background color to white */
}

#certificates-section h2 {
    margin-bottom: 30px; /* Space between the title and the certificates */
    color: #333; /* Adjust color as needed */
}

.certificate-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.certificate {
    width: 300px; /* Adjust size as needed */
    height: 420px; /* Adjust height as needed */
    margin: 10px;
    perspective: 1000px;
    background-color: #ffffff; /* Set individual certificate background to white */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds shadow for depth */
    border-radius: 10px; /* Optional: Rounds the corners */
}

.certificate-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

.certificate-front, .certificate-back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; /* Match parent border radius */
}

.certificate-front {
    background: #fff; /* Ensure the front background is white */
}

.certificate-back {
    background: #fff; /* Ensure the back background is white */
    transform: rotateY(180deg);
}

.certificate:hover .certificate-inner {
    transform: rotateY(180deg);
}

.internship-experience {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    color: #0056b3;
    margin-bottom: 20px;
}

.experience-detail {
    display: flex;
    flex-direction: column; /* ปรับให้เนื้อหาภายในจัดเรียงแนวตั้ง */
    align-items: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
    text-align: center; /* ให้ข้อความอยู่ตรงกลาง */
    gap: 20px;
}

.experience-image {
    max-width: 300px; /* หรือ % ตามที่คุณต้องการ */
    height: auto; /* ให้สัดส่วนของรูปภาพถูกต้อง */
    /* margin-bottom ถูกลบออก เนื่องจากใช้ gap ใน .experience-detail แทน */
}

.experience-description h2 {
    margin-top: 0;
    color: #333;
}

.experience-description p {
    margin: 10px 0;
    line-height: 1.6;
}
.experience-description, .experience-description ul {
    text-align: left; /* ให้รายละเอียดการฝึกงานอยู่ทางซ้าย */
    margin: 0 auto; /* กลางกับ container */
    max-width: 80%; /* ปรับความกว้างของข้อความให้เหมาะสม */
}

.experience-description li {
    text-align: left; /* ให้ข้อความในรายการอยู่ทางซ้าย */
}
.certification-button {
    text-align: center; /* จัดให้ปุ่มอยู่ตรงกลาง */
    margin-top: 20px; /* ให้ระยะห่างจากข้อความด้านบน */
}

.btn {
    background-color: #0056b3; /* สีของปุ่ม */
    color: white; /* สีข้อความของปุ่ม */
    padding: 10px 20px; /* ระยะห่างภายในปุ่ม */
    border: none; /* ไม่มีเส้นขอบ */
    border-radius: 5px; /* ขอบมน */
    text-decoration: none; /* ลบเส้นใต้ข้อความ */
    font-size: 16px; /* ขนาดข้อความในปุ่ม */
    cursor: pointer; /* เม้าส์เปลี่ยนเป็นมือเมื่อชี้ */
    transition: background-color 0.3s; /* ให้มีการเปลี่ยนแปลงสีเมื่อ hover */
}

.btn:hover {
    background-color: #004494; /* สีของปุ่มเมื่อ hover */
}
@keyframes fadeInPop {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.internship-experience {
    opacity: 0; /* ให้เริ่มต้นโปร่งใส */
    transform: scale(0.5); /* ให้เริ่มต้นด้วยขนาดที่เล็กลง */
}

.internship-experience.visible {
    animation: fadeInPop 1s forwards; /* ใช้ animation เมื่อเพิ่ม class 'visible' */
}





